body{
	max-width: 60em;
	margin: 0 auto;
}
section{
	display: flex;
}
header{
	background-color: fuchsia;
}
header h1{
	padding: 10px;
	display: block;
	margin: auto; 
}
footer{
	background-color: lime;
	padding: 10px;
	display: block;
	margin: auto; 
}
nav .topmenu {
    text-align: center;
    margin: 0px auto;
    background-color: darkorchid;
}
.order1{
	background-color: cyan;
	order:1;
	flex: 3
}
.order2{
	background-color: yellow;
	order:2;
	flex: 2
}
.order3{
	background-color: yellow;
	order:3;
	flex: 2
}
section{

	flex-flow: column;
}c
article{
	padding: 1em;
}
aside{
	padding: 1em;
}
.blar{
	background-color: blue;	
	width: 3em;
	height: 3em;
	order: 1;
}
.box a{
	color: white;
	text-decoration: none;
	width: 2em;
	height: 2em;
	line-height: 2em;
	font-family: arial;
}
.lblar{
	background-color: lightblue;
	width: 3em;
	height: 3em;
	order: 2;
}
.appgulur{
	background-color: orange;
	width: 3em;
	height: 3em;
	order: 3;
}
.rod{
	background-color: orangered;
	width: 3em;
	height: 3em;
	order: 4;
}
.box{
	position: fixed;
	display: flex;
	left: 0;
	top: 0;
	flex-flow:row;
}